chardet==2.3.0
click==7.1.2
command-not-found==0.3
Flask==1.1.2
Flask-Cors==3.0.8
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
language-selector==0.1
MarkupSafe==1.1.1
nltk==3.5
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.8
python-debian==0.1.27
python-systemd==231
regex==2020.7.14
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
tqdm==4.48.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
Werkzeug==1.0.1
